 body{
    margin:30px;
    
 }

 h1{
    Color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight:200px solid bold;
    display: inline-block;
    text-align: left;
}
.part1 p{
    padding: 10px;
    margin:0px;
    position:absolute;
    top:10px;
    right:200px;
    text-align: right;
    }
hr{
    font-weight: 100px solid bold;
}

h2{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    
}

